@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

$font-base: "Cormorant Upright", serif;
$font-alt: "Open Sans", sans-serif;

$color-golden: #dcca87;
$color-black: #0c0c0c;
$color-gray: #545454;
$color-crimson: #f5efdb;
$color-grey: #aaaaaa;
$color-white: #ffffff;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@mixin breakpoint($point) {
  @if $point == mobile {
    @media screen and (max-width: 575px) {
      @content;
    }
  } @else if $point == small {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $point == medium {
    @media screen and (max-width: 992px) {
      @content;
    }
  } @else if $point == large {
    @media screen and (max-width: 1199px) {
      @content;
    }
  } @else if $point == extraLarge {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}
@mixin section_title {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 50px;
  text-align: center;
}
@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}
@mixin size($width, $height: auto) {
  width: $width;
  height: $height;
}
@mixin border-radius($radius) {
  border-radius: $radius;
}
@mixin flex($justify-content, $align-items, $direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
}
